practica-02/workflows/ejercicio-02-analisis-productos.json
{
  "name": "Practica 02 - Ejercicio 2: Analisis de Productos",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "days", "daysInterval": 1 }]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger - Diario",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://fakestoreapi.com/products",
        "options": {}
      },
      "id": "http-request",
      "name": "HTTP Request - Obtener Productos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "condition-precio",
              "leftValue": "={{ $json.price }}",
              "rightValue": 100,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-precio",
      "name": "IF - Precio mayor a 100?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "etiqueta",
              "name": "etiqueta",
              "value": "Producto Premium",
              "type": "string"
            },
            {
              "id": "producto",
              "name": "producto",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "precio",
              "name": "precio",
              "value": "={{ $json.price }}",
              "type": "number"
            },
            {
              "id": "categoria",
              "name": "categoria",
              "value": "={{ $json.category }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-premium",
      "name": "Set - Producto Premium",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [940, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "etiqueta",
              "name": "etiqueta",
              "value": "Producto Estandar",
              "type": "string"
            },
            {
              "id": "producto",
              "name": "producto",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "precio",
              "name": "precio",
              "value": "={{ $json.price }}",
              "type": "number"
            },
            {
              "id": "categoria",
              "name": "categoria",
              "value": "={{ $json.category }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-estandar",
      "name": "Set - Producto Estandar",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [940, 420]
    }
  ],
  "connections": {
    "Schedule Trigger - Diario": {
      "main": [[{ "node": "HTTP Request - Obtener Productos", "type": "main", "index": 0 }]]
    },
    "HTTP Request - Obtener Productos": {
      "main": [[{ "node": "IF - Precio mayor a 100?", "type": "main", "index": 0 }]]
    },
    "IF - Precio mayor a 100?": {
      "main": [
        [{ "node": "Set - Producto Premium", "type": "main", "index": 0 }],
        [{ "node": "Set - Producto Estandar", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": []
}