practica-03/workflows/Practica 03 - Ejercicio 1_ Consolidacion en una Sola Hoja.json
{
  "name": "Practica 03 - Ejercicio 1: Consolidacion en una Sola Hoja",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-01",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-480, 176]
    },
    {
      "parameters": {
        "url": "https://v2.jokeapi.dev/joke/Programming,Misc,Dark?type=single&amount=10",
        "options": {}
      },
      "id": "http-01",
      "name": "HTTP Request - Obtener Chistes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-288, 176]
    },
    {
      "parameters": {
        "fieldToSplitOut": "jokes",
        "options": {}
      },
      "id": "split-01",
      "name": "Split Out - Separar Chistes",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [-80, 176]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.category }}",
        "rules": {
          "rules": [
            { "value2": "Programming" },
            { "value2": "Misc", "output": 1 },
            { "value2": "Dark", "output": 2 }
          ]
        }
      },
      "id": "switch-01",
      "name": "Switch - Clasificar por Categoria",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [128, 176]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "id", "value": "={{ $json.id }}", "type": "number" },
            { "id": "a2", "name": "joke", "value": "={{ $json.joke }}", "type": "string" },
            { "id": "a3", "name": "categoria_original", "value": "Programming", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set-prog",
      "name": "Set - Programming",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [336, -32]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            { "id": "b1", "name": "id", "value": "={{ $json.id }}", "type": "number" },
            { "id": "b2", "name": "joke", "value": "={{ $json.joke }}", "type": "string" },
            { "id": "b3", "name": "categoria_original", "value": "Misc", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set-misc",
      "name": "Set - Misc",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [336, 176]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            { "id": "c1", "name": "id", "value": "={{ $json.id }}", "type": "number" },
            { "id": "c2", "name": "joke", "value": "={{ $json.joke }}", "type": "string" },
            { "id": "c3", "name": "categoria_original", "value": "Dark", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set-dark",
      "name": "Set - Dark",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [336, 384]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Q8_sUQLC-0nMVQIkxBSgomoMJcaSkOi9QuDqTpzYZq8",
          "mode": "list",
          "cachedResultName": "Clasificación de Chistes n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q8_sUQLC-0nMVQIkxBSgomoMJcaSkOi9QuDqTpzYZq8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid://sheets/Todos",
          "mode": "list",
          "cachedResultName": "Todos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q8_sUQLC-0nMVQIkxBSgomoMJcaSkOi9QuDqTpzYZq8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.id }}",
            "Chiste": "={{ $json.joke }}",
            "Fecha de Procesamiento": "={{ $now }}",
            "categoria_original": "={{ $json.categoria_original }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "ID", "displayName": "ID", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Chiste", "displayName": "Chiste", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Fecha de Procesamiento", "displayName": "Fecha de Procesamiento", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "categoria_original", "displayName": "categoria_original", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "gsheets-todos",
      "name": "Google Sheets - Todos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [576, 176],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bLicu88mofcsnSNT",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "HTTP Request - Obtener Chistes", "type": "main", "index": 0 }]] },
    "HTTP Request - Obtener Chistes": { "main": [[{ "node": "Split Out - Separar Chistes", "type": "main", "index": 0 }]] },
    "Split Out - Separar Chistes": { "main": [[{ "node": "Switch - Clasificar por Categoria", "type": "main", "index": 0 }]] },
    "Switch - Clasificar por Categoria": {
      "main": [
        [{ "node": "Set - Programming", "type": "main", "index": 0 }],
        [{ "node": "Set - Misc", "type": "main", "index": 0 }],
        [{ "node": "Set - Dark", "type": "main", "index": 0 }]
      ]
    },
    "Set - Programming": { "main": [[{ "node": "Google Sheets - Todos", "type": "main", "index": 0 }]] },
    "Set - Misc": { "main": [[{ "node": "Google Sheets - Todos", "type": "main", "index": 0 }]] },
    "Set - Dark": { "main": [[{ "node": "Google Sheets - Todos", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "ej1-v1",
  "meta": { "templateCredsSetupCompleted": true, "instanceId": "0f274780af13e121d3b4751773ae9b5f211d08f1feeaa868494d2616c166358b" },
  "id": "ejercicio1-consolidacion",
  "tags": []
}

