practica-06/workflows/Ejercicio 3 - API Webhook Crear Tarea.json
{
  "name": "Ejercicio 3 - API Webhook Crear Tarea",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/tasks",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "16f1176f-f1de-4085-b6c2-4f6791f11047",
      "name": "Webhook - POST /api/tasks",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -32,
        -96
      ],
      "webhookId": "api-tasks-create"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-title",
              "leftValue": "={{ $json.body.title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "check-title-not-empty",
              "leftValue": "={{ $json.body.title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a7de6d7f-6236-4cd5-bf57-a53aeca30cac",
      "name": "IF - Validar Title",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        208,
        -96
      ]
    },
    {
      "parameters": {
        "errorMessage": "=El campo 'title' es requerido"
      },
      "id": "b7a84194-7be1-4756-8e58-fb00543f6943",
      "name": "Stop and Error - 400 Bad Request",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        672,
        208
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"error\": \"Bad Request\", \"message\": \"El campo 'title' es requerido\", \"code\": 400}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "c9a867df-7eb9-48a0-9874-0d10d2f82bcd",
      "name": "Respond - 400 Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        448,
        208
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tasks"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.body.title }}",
            "description": "={{ $json.body.description || '' }}",
            "done": false
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string"
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string"
            },
            {
              "id": "done",
              "displayName": "done",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "f7ca6a4e-0fa8-441c-b135-930a5ae6ff07",
      "name": "PostgreSQL - Insert Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        448,
        -192
      ],
      "credentials": {
        "postgres": {
          "id": "zXV9MnENeh96zg01",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "queue": "task_created",
        "sendInputData": false,
        "message": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "2f42ecac-959a-41c1-865d-8ce5f906376e",
      "name": "RabbitMQ - Publicar task_created",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        688,
        -192
      ],
      "credentials": {
        "rabbitmq": {
          "id": "u3idU7mMXXCOoVPQ",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"message\": \"Task created successfully\", \"task\": {{ JSON.stringify($json) }}, \"code\": 201}",
        "options": {
          "responseCode": 201
        }
      },
      "id": "c11ac8ec-72a2-4876-b6d5-d5afa70853fd",
      "name": "Respond - 201 Created",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        928,
        -192
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - POST /api/tasks": {
      "main": [
        [
          {
            "node": "IF - Validar Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Validar Title": {
      "main": [
        [
          {
            "node": "PostgreSQL - Insert Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - 400 Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Insert Task": {
      "main": [
        [
          {
            "node": "RabbitMQ - Publicar task_created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RabbitMQ - Publicar task_created": {
      "main": [
        [
          {
            "node": "Respond - 201 Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b5398581-83f9-4387-b346-953869318de3",
  "meta": {
    "instanceId": "0f274780af13e121d3b4751773ae9b5f211d08f1feeaa868494d2616c166358b"
  },
  "id": "1rgnhyDPovvTUYdF",
  "tags": []
}