practica-08/workflows/p3-chistes-refactorizado.json
{
  "name": "P8 - Parte Guiada: Clasificacion de Chistes (Refactorizado)",
  "nodes": [
    {
      "parameters": {},
      "id": "365fb70d-a2eb-491b-ba59-8af52b83ae19",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        176
      ]
    },
    {
      "parameters": {
        "url": "https://v2.jokeapi.dev/joke/Programming,Misc,Dark?type=single&amount=10",
        "options": {}
      },
      "id": "ab792fd8-4173-44a8-9e4b-cd4638d17700",
      "name": "HTTP Request - Obtener Chistes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -288,
        176
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "jokes",
        "options": {}
      },
      "id": "83c57057-6742-457f-9225-3f2b8fb274de",
      "name": "Split Out - Separar Chistes",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -80,
        176
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.category }}",
        "rules": {
          "rules": [
            {
              "value2": "Programming"
            },
            {
              "value2": "Misc",
              "output": 1
            },
            {
              "value2": "Dark",
              "output": 2
            }
          ]
        }
      },
      "id": "2d444064-88eb-493a-9eb3-3cc047af4e0f",
      "name": "Switch - Clasificar por Categoria",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        128,
        176
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.SHEET_ID_CHISTES }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $env.SHEET_NAME_PROG }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.id }}",
            "Chiste": "={{ $json.joke }}",
            "Fecha de Procesamiento": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chiste",
              "displayName": "Chiste",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha de Procesamiento",
              "displayName": "Fecha de Procesamiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ed1fd043-c2bc-4a61-ac20-b65a4911e2c4",
      "name": "Google Sheets - Programming",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        320,
        -32
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bLicu88mofcsnSNT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.SHEET_ID_CHISTES }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $env.SHEET_NAME_MISC }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha de Procesamiento": "={{ $now }}",
            "Chiste": "={{ $json.joke }}",
            "ID": "={{ $json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chiste",
              "displayName": "Chiste",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha de Procesamiento",
              "displayName": "Fecha de Procesamiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "979e9496-9903-4219-a8bf-c79bf1202956",
      "name": "Google Sheets - Misc",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        320,
        176
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bLicu88mofcsnSNT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.SHEET_ID_CHISTES }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $env.SHEET_NAME_DARK }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.id }}",
            "Chiste": "={{ $json.joke }}",
            "Fecha de Procesamiento": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chiste",
              "displayName": "Chiste",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha de Procesamiento",
              "displayName": "Fecha de Procesamiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "76421ffd-1b83-4ec3-9fc3-90caba1d2250",
      "name": "Google Sheets - Dark",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        320,
        368
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bLicu88mofcsnSNT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "9a57bbcc-b23b-435e-b61e-f75fcbaa7bc4",
      "name": "Merge - Consolidar Resultados",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        576,
        176
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request - Obtener Chistes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Obtener Chistes": {
      "main": [
        [
          {
            "node": "Split Out - Separar Chistes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out - Separar Chistes": {
      "main": [
        [
          {
            "node": "Switch - Clasificar por Categoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Clasificar por Categoria": {
      "main": [
        [
          {
            "node": "Google Sheets - Programming",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets - Misc",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets - Dark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Programming": {
      "main": [
        [
          {
            "node": "Merge - Consolidar Resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Misc": {
      "main": [
        [
          {
            "node": "Merge - Consolidar Resultados",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "refactorizado-p8-guiado",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}

